@font-face {
  font-family: primary;
  src: url(../font/MonumentValley12.otf);
}

@font-face {
  font-family: secondary;
  src: url(../font/NugoSansLight.ttf);
}


:root {
	--color-primary: #0c1010;
	--color-secondary: #069498;
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	
	font-family: "adobe-garamond-pro";
	color: var(--color-primary);
	
	background-color: var(--color-primary);
	background-image: url("../img/islonetree90a.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: 2rem;
}

.is main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	
	padding: 0 2rem;
	height: 100%;
}

@media (max-width: 64rem) {
	.is main {
		padding: 0 1rem;
	}
}

.is header{
	flex: 0 1 auto;
}

.is content {
	flex: 1 1 auto;
}

.is footer {
	display: flex;
	flex: 0 1 4rem;
	justify-content: space-between;
}

.is footer {
	color: #069498;
	font-family: secondary;
	font-weight: bold;
	font-size: .6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	opacity: 0.1;
	
	padding: 1.2rem 1rem;
	margin-top: 2rem;
}

.is footer div {
	align-self: flex-end;
}

.is footer div:only-child {
	margin: 0 auto;
}


.is h1, h2, h3 {
	font-family: "adobe-garamond-pro";
	color: #0c1010;
}

.is header h1 {
	font-family: primary;
	font-size: 2.6rem;
	text-align: left;
	
	@media (max-width: 40rem) { 
		text-align: center;
	}
	
	color: #069498;
	opacity: 0.08;
	
	margin-top: 0.4rem;
	margin-bottom: 4rem;
}

.is .film-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 2rem;
	
	@media (max-width: 64rem) {
		gap: 0;
		flex-direction: column;
	}
	
}

.is .film-video {
	flex-grow: 1;
}

.is .film-title {
	font-family: "adobe-garamond-pro";
	font-weight: normal;
	font-size: 2.2rem;
	opacity: 0.75;
	
	letter-spacing: 0.1px;
}

.is .film-synop {
	display: flex;
	align-items: start; /*center;*/
	width: 50%;
	margin-bottom: 2rem;
}

.is .film-quote {
	
	padding: 1.2rem 2rem 1.2rem 2rem;
	
	font-family: "adobe-garamond-pro";
	font-size: 1.3rem;
	
	text-align: justify;
	letter-spacing: -0.2px;
	line-height: 1.6rem;
	
	color: #0c1010cc;
	background-color: #06949811;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), #06949855);
}

@media (max-width: 40rem) {
	.is .film-quote {
		font-size: 1.2rem;
		/*line-height: 1.4rem;*/
		
	}
}

@media (max-width: 64rem) {
	.is .video {
		margin: 0 -1rem;
	}
	
	.is .film-synop {
		margin: 0 -1rem;
	}
	
	.is .film-synop {
		width: auto;
	}
	
	.is .film-quote {
		width: 100%;
		padding: 1.2rem 1rem;
		/*background-color: transparent;*/
		background-color: #069498011;
		background-image: linear-gradient(to top, rgba(0,0,0,0), #06949855);
	}
	
	.is .film-details {
		margin: 0 -1rem;
		padding: 0 1rem;
		background-color: #06949877;
	}
}

.is .film-details { 
	height: 2rem;
	line-height: 2rem;
	color: #0c1010;
	
	font-size: 0.6rem;
	font-weight: bold;
	font-family: "adobe-garamond-pro";
	letter-spacing: 1px;
	
	text-transform: uppercase;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.is .film-details div {
	opacity: 0.6;
}

.is .film-details .status {
}


.is .video-js .vjs-big-play-button {
	border: none;
	border-radius: 2px;
	height: 1.5em;
	background-color: rgba(0, 0, 0, 0);
}

.is .vjs-icon-placeholder {
	color: rgba(255,255,255, 0.3);
}
